
body{
  background-image: url("https://media.istockphoto.com/photos/modern-shopping-mall-interior-with-shopfront-and-corridor-picture-id1253594454?k=20&m=1253594454&s=612x612&w=0&h=Gy4PT9l6GmtgwepPWXE-ywuJu9h4khaGlKk5jycDTWc=");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.offer img{
  padding:20px;
   filter: none; 
-webkit-filter: blur(0px); 
-moz-filter: blur(0px); 
-ms-filter: blur(0px);
filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}

.image1{
  display-position:center;
}

#flipcart{
  display:inline-block;
  color:white;
  font-size:30px;
  font-style:italic;
  float:left;
  padding:14px;
}
.image1{
  background-color:blue;
}
#search{
  width:30%;
  height:30px;
 border:2px solid-grey;
 float:right 50%;
  margin:14px; 
}
button{
  width:5%;
  height:30px;
}
#one{
  display:inline;
  color:white;
 font-size:29px;
   margin:14px; 
}

#navc{
  display:inline-block;
}

#bb{
   text-align:center;
}
.phone{
  font-size:70px;
  font-style:italic;
 text-align:center;
  padding:54px;
}
.mobiles img{
margin-left: 50px;
   padding: 10px;
  width:150px;
}
.pname span{
  color:blue;
 font-size:22px;
margin:60px;
   
}
.price span{
  color:blue;
 font-size:22px;
margin:69px;
   
}

.laptop{
  font-size:70px;
  font-style:italic;
 text-align:center;
  padding:54px;
}
.lapi img{
margin-left: 40px;
   padding: 10px;
  width:250px;
  height:210px;
}
.pname1 span{
  color:blue;
 font-size:22px;
margin:135px;
   
}
.price1 span{
  color:blue;
 font-size:22px;
margin:110px;
   
}
